<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Your Profile</h1>
    <form action="/users/addProfile" method="post">
        <p>
            First Name:
            <input type="text" name="firstName">
        </p>
        <p>
            Last Name:
            <input type="text" name="lastName">
        </p>
        <p>
            Email:
            <input type="text" name="email">
        </p>
        <p>
            Gender:
            <select name="gender" id="">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </p>
        <p>
            Birth of Date:
            <input type="date" name="birthDate">
        </p>
        <button type="submit">Done</button>
    </form>
</body>
</html>