<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Add post</h3>
    <form action="/posts/add" enctype="multipart/form-data" method="post"></form>
    <!-- <form action="/posts/add" method="post"> -->
        <p>Masukin broooo gamnbarnya</p>
        <input type="file" name="uploadfile">
        <p>Caption</p>
        <input type="text" name="description" id="">
        <!-- <textarea id="description" name="description" rows="4" cols="50"></textarea> -->
        <button type="submit">Post</button>
    </form>
</body>
</html>