<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Connectiv8</h2>
    <div class="container">
        <button><a href="#">User Profile</a></button>
        <button><a href="/posts/add">Add Post</a></button>
        <button><a href="#">List Users</a></button>
        <button><a href="/users/logout">Log Out</a></button>
    </div>
    <div class="content">
        <% users.forEach(el => {%>
            <%= el.userName %>
       <% });  %>
    </div>
</body>
</html>